<div class="flex main-search-wrapper">
  <%= form_tag search_index_path, method: :get, class: 'search-form--inline' do %>
    <div class="search-field-wrapper">
      <%= text_field_tag :search, params[:search], class: 'search-field form-control',
        placeholder: t('.search'), autocomplete: 'off' %>
      <%= button_tag class: 'submit-icon' do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
      <div class="suggestions">
        <div class="s-categories"></div>
        <div class="s-separator"></div>
        <div class="s-products"></div>
      </div>
    </div>
  <% end %>
</div>
