<%= render partial: 'registrations/profile_top' %>
<%= render partial: 'registrations/nav_filters' %>
<div class="center-block sides-indents">
  <main class="main-content-wrapper social">
    <%= render partial: 'search/search_results', locals: {media: @media } %>
    <%= render partial: 'search/load_more_button', locals: { media: @media } %>
  </main>
</div>
