Aloha,
<br>

<h3>Bienvenido a GoodNoob!</h3>

¡Gracias por regístrate con nosotros!! Estamos muy contentos de tenerte a bordo.
<br><br>
Somos una web creada por y para amantes de deportes extremos, y esperamos que te diviertas en ella tanto como nosotros.
<br><br>
Ahora, ya podrás contribuir en la comunidad subiendo fotos y videos de tus productos favoritos, comentarlos, y crear tu propio perfil.
<br><br>
Estamos trabajando muy duro en crear nuevas opciones que esperemos que te gusten… también nos gusta mucho el feedback de nuestros usuarios (no seas tímido en esto por favor, si tienes una idea para mejorar lo apreciaríamos muchísimo :)
<br><br>
Si tienes cualquier pregunta o sugerencia – por favor háznoslo saber enviándonos un correo a contact@goodnoob.com
<br><br>
Un saludo
<br><br>
El equipo de Goodnoob – follow our journey to the perfect ride
<br>
<img src="<%= @logo %>" alt="GoodNoob" width="120">
