Bonjour,
<br>
<h3>Bienvenue sur GoodNoob!</h3>

Nous sommes très heureux de vous compter parmi nous.
<br><br>
Nous sommes une plateforme créée par et pour les amoureux des sports extrêmes, et nous espérons que vous vous amuserez sur notre site autant que nous !
<br><br>
A présent, nous vous invitons à contribuer à notre communauté en partageant vos photos et vidéos avec vos produits favoris, commenter les publications des autres et enrichir votre propre profil.
<br><br>
Nous travaillons dur sur la création de nouvelles fonctionnalités, en espérant que vous les aimerez.. Nous adorerons également lire vos impressions sur le site (ne soyez pas timide là-dessus, vos retours sont si précieux pour nous :) )
<br><br>
Pour toute questions/suggestions, voici donc notre email : contact@goodnoob.com
<br><br>
En vous souhaitant un très bon moment sur notre site,
<br><br>
Goodnoob Team – follow our journey to the perfect ride
<br>
<img src="<%= @logo %>" alt="GoodNoob" width="120">
