Hey there,
<br>
<h3>Welcome to GoodNoob!</h3>

Thanks for signing up!! We're very excited to have you on board.
<br><br>
We are a website created from and for sport lovers, and we hope you enjoy it as much as we are doing!
<br><br>
Now, you are able to contribute in our community by uploading photos and videos with your favourite products, comment them, and create your own cool profile.
<br><br>
We are working very hard in creating new features that we hope you like… we also love any feedback from our users (don’t be shy on this please, we would appreciate it a lot :)
<br><br>
If you have any questions or suggestions – please let us know by emailing us to contact@goodnoob.com
<br><br>
All the best,
<br><br>
Goodnoob Team – follow our journey to the perfect ride
<br>
<img src="<%= @logo %>" alt="GoodNoob" width="120">
