<div class='main-container'>
  <main class='main-content-wrapper main-share-content-wrapper'>
    <%= render partial:'products/breadcrumbs', locals: { product: @product } %>
    <section class="product-media flex thumbs-matrix-wrapper background-surf">
      <div style="margin: 20px auto;">
        <%= render 'photos/search_thumbnail', photo: @photo %>
      </div>
    </section>
    <%= render 'products/photos_and_videos', product: @product, title: t('.other_photos_and_videos') %>
  </main>
</div>

<style>
  .background-surf { background: url(<%= image_url @product.category&.image&.url %>) no-repeat center center; }
</style>
