.sort-by-panel {
  align-items: center;
  height: 50px;
  padding-left: 45px;
  background-color: #3fa9f5;
  color: #fff;
  font-weight: bold;
  font-size: 18px;

  a {
    display: inline-block;
    min-width: 145px;
    background-color: transparent;
    padding: 1px 15px;
    border: 1px solid #fff;
    margin-left: 25px;
    color: #fff;
    text-align: center;
    line-height: 1.42;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    .glyphicon {
      visibility: hidden;
      margin-right: -20px;
      margin-left: 10px;
      top: 3px;
    }

    &.active .glyphicon {
      visibility: visible;
    }
  }
}

$appliedfilters-font: 'Myriad Pro', sans-serif;
$appliedfilters-fontsize: 14px;

$appfilters-background: #d0d0d1;
$appfilter-background: #fff;
$appfilters-text-color: #000;

.applied-sub-filters-wrapper{
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 16px;
  height: auto;
  min-height: 30px;

  .applied-sub-filters-title {
    width: 35px;
    text-align: center;
    font-size: 14px;
  }

  .applied-sub-filter{
    font-family: inherit;
    font-weight: inherit;
    align-items: center;
    background: $appfilter-background;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 9px;
    padding: 0 10px;
    transition: all .3s;

    .glyphicon-remove{
      font-size: .6em;
      margin-bottom: 9px;
      margin-right: 5px;
      color: black;
    }

    .applied-filter-text{
      color: $appfilters-text-color;
      font-family: $appliedfilters-font;
      font-size: $appliedfilters-fontsize;
    }
  }
  .applied-filter:hover{
    background: #dddddd;
  }
}
