.product-stats {
  width: 440px;
  .product-name {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
  }
  .product-review-bar {
    color: #ccc;
    margin: 10px 0;
    text-align: center;
  }
  .product-reviews-charts {
    width: 320px;
    margin-bottom: 20px;
    .chart {
      padding: 0 5px;
      li {
        display: flex;
        margin: auto;
        line-height: 15px;
        height: 15px;
        position: relative;
        width: 100%;
        margin: 10px 0;
        .chart-title {
          width: 45px;
          text-align: right;
          margin-right: 10px;
          color: #ccc;
        }
        .chart-bar-wrapper {
          width: 250px;
          background-color: white;
          height: 100%;
          .chart-bar {
            height: 100%;
            background-color: #4eb9e8;
          }
        }
      }
    }

  }
  .product-buttons {
    position: relative;
    display: flex;
    height: 30px;
    line-height: 35px;
    justify-content: center;
    width: 100%;
    .product-price {
      color: #4eb9e8;
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: middle;
    }
    .product-button {
      border: none;
      margin: 0 5px;
      border-radius: 0;
      vertical-align: middle;
      height: 30px;
      line-height: 25px;
      text-decoration: none;
      // font-family: 'Myriad Pro';
      min-width: 35px;
      display: inline-block;
      font-weight: bolder;
      font-size: 1rem;
      background-color: #4eb9e8;
      padding: 5px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        background-color: #333;
      }

      .glyphicon {
        font-size: 1.2rem;
      }
    }
    .dropdown-menu {
      right: auto;
      left: 110px;
    }
  }
}
