<% disabled = [['sub_categories', 'show']] %>
<% current = [params[:controller], params[:action]]%>
<% unless disabled.include? current %>
  <div class='mobile-post-buttons visible-xs'>
    <% if params[:controller] == 'reviews' && params[:action] == 'index' %>
      <% if current_user && @product.reviews.pluck(:user_id).exclude?(current_user.id) %>
        <span class='mobile-post-button'>
          <%= link_to '+', new_product_review_path(@product), remote: true,
                  class: 'visible-xs-inline-block' %>
        </span>
      <% end %>
    <% else %>
      <% if params[:action] != 'welcome_page' %>
        <span class='mobile-post-button'>
          <a href="#" class="toggle-mobile-post-buttons" data-target="#NewPost" data-toggle="modal">+</a>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>
